body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.p-grey {
    color: #8f8f8f;
}

.features-cont {
  text-align: center;
  padding: 5%;
  font-weight: 500;
}

.icon-features {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.icon-features:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 40px 20px 40px;
}

.carousel-item {
  padding: 7% 15% 2%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }

}

/* Call to Action Section */

#cta {
  text-align: center;
  background-color: #ff4c68;
  color: white;
  padding: 5% 15% 2%;
}

.cta-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 3.5rem;
  margin: 0 25% 0;
}

/* Footer Section */

#footer {
  text-align: center;
  color: #8f8f8f;
  padding: 2%;
}

.footer-rights {
  padding: 1% 0 0;
  margin: 0;
}

.social-icon {
  margin-right: 0.5rem;
}
